body {
    margin: 0;
    /* Remove default body margin for full-viewport background */
    background-color: #eee;
    /* Fallback background color */
    /* Adjust as needed */
    font-family: sans-serif;
    /* Basic font styling */
}

.container {
    background: url("/assets/imgs/end.gif") no-repeat center center fixed;
    background-size: cover;
    min-height: 100vh;
    /* Set minimum height to viewport height */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.fallback-image {
    display: none;
    /* Initially hide fallback image */
}

/* Optional: Style for the image button */
a img {
    width: 150px;
    /* Adjust image button size */
    transition: transform 0.2s;
    /* Smooth transition for hover effect */
}

a img:hover {
    transform: scale(1.1);
    /* Slightly enlarge the button on hover */
}

.gift-gif {
    justify-content: center;
    align-items: center;
    max-width: 100%;
    /* Ensures the image is not wider than the container */
    height: auto;
    /* Maintains the aspect ratio of the GIF */
    display: block;
    /* To display the image as a block element */
    margin: 20px auto;
    /* Adds margin to the top and bottom, and auto centers the image horizontally */
}

p {
    color: white;
    text-align: center;
    font-family: "Pixelify Sans", sans-serif;
    font-optical-sizing: auto;
    font-style: bold;
    font-size: 2rem;
    /* Adjust font size */
    margin: 20px 0;
    /* Add some spacing around the message */
    text-shadow: 2px 2px 4px #000000,
        /* Shadow for depth */
        -1px -1px 0 #8B0000,
        /* Outline effect */
        1px -1px 0 #8B0000,
        -1px 1px 0 #8B0000,
        1px 1px 0 #8B0000;
}

@media (max-width: 768px) {
    p {
        padding-left: 20px;
        padding-right: 20px;
        font-size: 1.5em; /* Reduce the font size for smaller screens */
        /* Other adjustments... */
    }
}